= form_for [:admin, @post], html: { multipart: true } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.file_field :thumbnail
    = f.hidden_field :thumbnail_cache
    - if f.object.thumbnail.url
      = image_tag f.object.thumbnail.url(:thumb)

  .form-group
    = f.cktext_area :content

  .row
    .col-sm-6
      .form-group
        = f.label :url_alies
        = f.text_field :url_alies, class: 'form-control'
      .form-group
        = f.label :tags
        = f.text_field :tag_list, value: f.object.tag_list.to_s, class: 'form-control'
      .form-group
        = f.label :meta_tags
        = text_field_tag :meta_tags, f.object.meta_tags.join(', '), class: 'form-control'
    .col-sm-6
      .form-group
        = f.label :category
        = f.select :category, options_for_select(Post.categories.select, f.object.category), {}, class: 'form-control'
      .form-group
        = f.label :status
        = f.select :status, options_for_select(Post.statuses.select, f.object.status), {}, class: 'form-control'
      .form-group
        = f.label :big_featured
        = f.check_box :big_featured
      .form-group
        = f.label :featured
        = f.check_box :featured
      .form-group
        = f.label :popular
        = f.check_box :popular
  .form-group
    = f.submit 'Save', class: 'btn btn-success'
