= form_for [:admin, @post], html: { multipart: true } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .row
    .col-sm-9
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :thumbnail
        = f.file_field :thumbnail
        = f.hidden_field :thumbnail_cache
        - if f.object.thumbnail.url
          = image_tag f.object.thumbnail.url(:medium_thumb)
      .form-group
        = f.cktext_area :content

      .row
        .col-sm-6
          .form-group
            = f.label :next_post_id
            = f.text_field :next_post, data: { autocomplete_source: api_posts_path }, class: 'form-control'
          .form-group
            = f.label :back_post_id
            = f.text_field :back_post, data: { autocomplete_source: api_posts_path }, class: 'form-control'
          .form-group
            = f.label :tags
            = f.autocomplete_field :tag_list, autocomplete_tag_name_admin_posts_path, value: f.object.tag_list.to_s, |
                                              multiple: true, 'data-delimiter' => ', ', class: 'form-control', |
                                              'data-auto-focus' => true
          .form-group
            = f.label :meta_tags
            = text_field_tag :meta_tags, f.object.meta_tags.join(','), class: 'form-control'

    .col-sm-3
      .form-group
        = f.check_box :big_featured
        = f.label :big_featured
      .form-group
        = f.check_box :featured
        = f.label :featured
      .form-group
        = f.check_box :popular
        = f.label :popular
      .form-group
        = f.check_box :top
        = f.label :top
      .form-group
        = f.label :category
        = f.select :category, options_for_select(Post.categories.map { |category, key|  [Post.human_enum_name(:categories, category.to_sym), category] }, f.object.category), {}, class: 'form-control'
      .form-group
        = f.label :status
        = f.select :status, options_for_select(Post.statuses.map { |status, key|  [Post.human_enum_name(:statuses, status.to_sym), status] }, f.object.status), {}, class: 'form-control'
      .form-group
        = f.label :publish_at
        .input-group.date#datetimepicker
          = f.text_field :publish_at, placeholder: 'Вибрати час', value: f.object&.publish_at&.strftime('%Y-%m-%d %H:%M'), class: 'form-control'
          %span.input-group-addon
            %i.fa.fa-calendar
  .form-group
    = f.submit 'Save', class: 'btn btn-success'
