%h3 Posts

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Title
        %th Description
        %th URL
        %th

    %tbody
      - @posts.each do |post|
        %tr
          %td
            - if post.thumbnail.url
              = image_tag post.thumbnail_url(:thumb)
          %td= post.title
          %td= post.description
          %td= post.url_alies
          %td
            = link_to edit_admin_post_path(post) do
              %i.fa.fa-pencil
            = link_to [:admin, post], method: :delete, data: { confirm: 'Are you sure?' } do
              %i.fa.fa-trash

%br

= link_to 'New Post', new_admin_post_path, class: 'btn btn-secondary'
