%section.c-pageheader.c-pageheader--home
  = render 'layouts/header'
  .c-pageheader-content
    .box
      .featured
        - if @home_facade.posts.any?
          .featured__column.featured__column--big
            = cache @home_facade.big_featured do
              = render 'featured', post: @home_facade.big_featured
          .featured__column.featured__column--small
            = cache @home_facade.featured_first do
              = render 'featured', post: @home_facade.featured_first
            = cache @home_facade.featured_last do
              = render 'featured', post: @home_facade.featured_last

%section.c-content
  .c-content--wrap
    .row
      .col-md-3
        = render 'layouts/top_news', posts: @home_facade.recent_posts
      .col-md-9
        .c-cards#posts
          = render partial: 'posts/post', collection: @posts, cached: true
        = render 'layouts/pagination', records: @posts, items_per_page: Post::ITEMS_PER_PAGE, pagy: @pagy

= render 'layouts/popular', posts: @home_facade.popular_posts
= render 'layouts/footer'
