%section.c-pageheader.c-pageheader--home
  = render 'layouts/header'
  .c-pageheader-content.box
    .u-full-widht
      .featured
        .featured__column.featured__column--big
          = render 'featured', post: @home_facade.posts.first
        .featured__column.featured__column--small
          = render 'featured', post: @home_facade.posts.last
          = render 'featured', post: @home_facade.posts.last

%section.c-content
  .c-content--wrap
    .c-cards
      = render partial: 'posts/post', collection: @home_facade.posts
