.c-card-box
  .c-card
    %a{ href: post_path(post) }
      .c-card__thumb{ style: "background-image: image-url(#{post.thumbnail_url(:medium_thumb)})" }
        .c-card__category
          = Post.human_enum_name(:category, post.category)
    .c-card__content
      %h1.c-card__title
        = link_to post.title, post
      %p.c-card__description
        = post.description
      %span.c-card__actions
        - tags = post.tags.map { |tag| link_to tag.name, posts_path(tag: tag.name) }
        = tags.join(', ').html_safe
