.c-content__header.col-full
  %h1.c-content__header-option
    - unless params[:category].blank?
      %i.fa.fa-quote-right
      #{Post.human_enum_name(:category, params[:category])}
    - unless params[:tag].blank?
      %p ##{params[:tag].titleize}
- if @posts.any?
  .c-cards
    = render partial: 'posts/post', collection: @posts, cached: true

  = raw pagy_nav(@pagy)
- else
  = render 'layouts/blank_slate', records: 'Статтей'
