.c-content--narrow
  .box.format-article
    .c-content__header.col-full
      %h1.c-content__header-title
        = @post.title
      %ul.c-content__header-meta
        %li.date= @post.created_at.strftime(Post::FULL_DATE)
        %li.cat
          in
          %a{ href: posts_path }= @post.category
    .c-content__media.col-full
      .c-content__thumb
        = image_tag @post.thumbnail_url(:big_thumb), width: "100%"
    .c-content__main
      = raw @post.content
