- set_meta_tags @post
= content_for(:og_propeties) do
  = meta_og_tags @post.og_properties

%article.c-content--narrow
  .box.format-article
    .c-content__header.col-full
      %h1.c-content__header-title
        = @post.title
      %ul.c-content__header-meta
        %li.date= l @post.created_at, format: Post::FULL_DATE
        |
        %li.category
          %a{ href: posts_path }
            = @post.show(:category)
    .c-content__media.col-full
      .c-content__thumb
        = image_tag @post.thumbnail.url(:big_thumb), width: "100%"
    .c-content__main
      = raw @post.content
    - if @post.back_post
      .c-content__actions
        = t('posts.read_more')
        = link_to @post.back_post, @post.back_post, class: 'link' if @post.back_post
        = link_to @post.next_post, @post.next_post, class: 'link' if @post.next_post
    .c-content__actions
      - @post.tags.each do |tag|
        = link_to "##{tag.name}", posts_path(tag: tag.name), class: 'tag'

    = render 'disqus', post: @post
