%footer.c-footer
  .c-footer__main
    .c-footer__box
      .row
        .col-md-3
          %h4= t('pages.quick_links')
          %ul.c-footer__links
            %li
              %a{ href: root_path }= t('pages.home')
            %li
              %a{ href: contacts_path }= t('pages.contacts')
        .col-md-3
          %h4= t('pages.social_links')
          %ul.c-footer__links
            %li
              %a{ href: 'https://www.facebook.com/I-n-t-o-n-a-c-i-a-2115187908803300/', target: '_blank', rel: 'nofollow' }= t('pages.facebook')
            %li
              %a{ href: 'https://www.instagram.com/into.nacia/', target: '_blank', rel: 'nofollow' }= t('pages.instagram')
        .col-md-1
        .col-md-5
          %h4= t('pages.newsletters')
          %p Получайте обновления первыми
          = form_for Subscription.new do |f|
            .input-group
              = f.email_field :email, placeholder: 'Ваш Email', class: 'form-control form-control-lg'
              .input-group-append
                = submit_tag 'Send', class: 'btn btn-primary btn-lg u-br-n'
  .c-footer__bottom
    .c-footer__box
      .c-footer__copyright
        %span © Intonacia 2018
