%header.header#header
  .header__content.box
    .header__logo
      %a{ href: root_path }
        = image_tag 'into-logo.png'
    %ul.header__social
      %li
        %a{ href: 'https://www.facebook.com/I-n-t-o-n-a-c-i-a-2115187908803300/', target: '_blank' }
          %i.fa.fa-facebook
      %li
        %a{ href: 'https://www.instagram.com/into.nacia/', target: '_blank' }
          %i.fa.fa-instagram
    .header__search
      -# Search
    %nav.header__nav-wrap
      %ul.header__nav
        %li{ class: active_if?(controller: 'homes') }
          %a{ href: root_path }= t('pages.home')
        %li{ class: active_if?(controller: 'posts', action: 'index') }
          .dropdown
            %a.dropdown-toggle{ href: '', data: { toggle: 'dropdown' } }= t('pages.categories')

            .dropdown-menu
              - Post.categories.each_pair do |key, value|
                %a.dropdown-item{ href: posts_path(category: key), class: active_if?(category: key) }= Post.human_enum_name(:category, key.to_sym)

        %li{ class: active_if?(controller: 'abouts') }
          %a{ href: about_path }= t('pages.abouts')
        %li{ class: active_if?(controller: 'contacts') }
          %a{ href: contact_path }= t('pages.contacts')
