= display_meta_tags site: t('brand.name')
= csrf_meta_tags
= csp_meta_tag
%meta{content: "intonacia.com - Сайт со статьями и интересными фактами. О новостях в мире, культуре, музыке. О важных событиях и мероприятиях 2018.", name: "description" }
%meta{content: "Новости, новости в украине, новости в мире, сегодня новости, новости культури, новости музики, интонация, intonacia, інтонація, блог", name: "keywords" }
%meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
%meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type"}
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
