%section.c-popular
  .c-popular__box.top
    .row
      .col-md-8
        %h3= t('pages.popular')
        .row.c-popular__posts
          = cache posts do
            - posts.each do |post|
              = cache post do
                .col-md-6
                  %a.c-popular__post{ href: post_path(post) }
                    .c-popular__thumb{ style: "background-image: url(#{post.thumbnail.url(:medium_thumb)})" }
                    %h5= post.title
                    .c-popular__meta
                      = l post.created_at, format: Post::FULL_DATE
                      %span.u-m-l-10
                        %i.fa.fa-eye
                        = post.impressions_count
      .col-md-4
        .c-popular__about
          %h3= t('pages.about_us')
          %p
          %ul.c-popular__about-social
            %li
              %a{ href: 'https://www.facebook.com/I-n-t-o-n-a-c-i-a-2115187908803300/', target: '_blank', rel: 'nofollow' }
                %i.fa.fa-facebook
            %li
              %a{ href: 'https://www.instagram.com/into.nacia/', target: '_blank', rel: 'nofollow' }
                %i.fa.fa-instagram
  .c-popular__box.c-tags__wrap
    .col-full.c-tags
      %h3= t('pages.tags')
      .c-tags__clound
        - Post.tag_counts_on(:tags).order(taggings_count: :desc).first(10).each do |tag|
          %a{ href: posts_path(tag: tag.to_s) }
            = tag
            %span= tag.taggings_count
