!!!
%html
  %head
    %title= t('brand.name')
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .c-dashboard-main
      .c-dashboard-main__header.bliss-bg
        .c-dashboard-main__header--logo
          %a.navbar-brand{ href: '' } Intonacia
        .c-dashboard-main__header--content
          .c-dashboard-main__header--content-left
            Search
          .c-dashboard-main__header--content-right
            Right avatar
      .c-dashboard-main-wrapper
        .c-dashboard-main__sidebar.bg-royal
          .scrollbar-container.ps
            .c-dashboard-main__sidebar-inner
              .c-menu-container
                %ul.c-menu-container-list
                  %li.c-menu-container-list-item
                    %a.c-menu-container-list-link{ href: admin_dashboard_path, class: "#{'active' if controller_name == 'dashboards'}" }
                      %i.fa.fa-slack
                      Статистика
                  %li.c-menu-container-list-item
                    %a.c-menu-container-list-link{ href: admin_posts_path, class: "#{'active' if controller_name == 'posts'}" }
                      %i.fa.fa-list-ul
                      Статьи
                  %li.c-menu-container-list-item
                    %a.c-menu-container-list-link{ href: admin_contacts_path, class: "#{'active' if controller_name == 'contacts'}" }
                      %i.fa.fa-comment
                      Обратная связь
                  - if current_user.admin?
                    %li.c-menu-container-list-item
                      %a.c-menu-container-list-link{ href: admin_users_url(subdomain: :admin), class: "#{'active' if controller_name == 'users'}" }
                        %i.fa.fa-users
                        Пользоватили
                  %li.c-menu-container-list-item
                    %a.c-menu-container-list-link{ href: edit_user_registration_url(subdomain: :admin), class: "#{'active' if controller_name == 'registrations'}" }
                      %i.fa.fa-cog
                      Настройки профиля

        .c-dashboard-main__content
          .c-dashboard-main__content-inner
            = yield