!!!
%html
  %head
    %title= t('brand.name')
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.admin
    %nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
      %button.navbar-toggler.navbar-toggler-right.hidden-lg-up{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => "#"} Intonacia
      #navbarsExampleDefault.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
        %form.form-inline.mt-2.mt-md-0
          %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
    .container-fluid
      .row
        .col-md-2.bg-faded.sidebar
          %ul.nav.nav-pills.flex-column
            %li.nav-item
              %a.nav-link{ href: admin_dashboard_path, class: "#{'active' if controller_name == 'dashboards'}" }
                Dashboard
            %li.nav-item
              %a.nav-link{ href: admin_posts_path, class: "#{'active' if controller_name == 'posts'}" } Статьи
          %ul.nav.nav-pills.flex-column
            %li.nav-item
              %a.nav-link{ href: admin_contacts_path, class: "#{'active' if controller_name == 'contacts'}" } Обратная связь
        .col-md-10
          = yield
