!!!
%html
  %head
    = render 'layouts/head'
  %body.main
    %section.c-pageheader
      = render 'layouts/header'
    %section.c-content
      .c-content--wrap
        = yield
    = render 'layouts/popular', posts: Post.where(popular: true).first(6)
    = render 'layouts/footer'
