!!!
%html
  %head
    %title= t('brand.name')
    = render 'layouts/ga' if Rails.env.production?
    = yield(:og_propeties)
    = cache 'head' do
      = render 'layouts/head'
  %body.main
    = render 'layouts/fb_code'
    %section.c-pageheader
      = render 'layouts/header'
    %section.c-content
      .c-content--wrap
        = yield
    = render 'layouts/popular', posts: Post.where(popular: true).first(6)
    = render 'layouts/footer'
