!!!
%html
  %head
    %title Tidings
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.home
    %section.c-pageheader.c-pageheader--home
      %header.header
        .header__content.box
          .header__logo
            Marta
          %ul.header__social
            %li
              %i.fa.fa-facebook
    = yield
